*.vo
*.html
*.synctex
*.synctex.gz(busy)
coqdoc.css
coqdoc.sty
*~
*.glob
*.v.d
*.toc
Makefile.coq
exercises_and_homework_day_*.tex
*.log
*.pdf
*.out
*.synctex.gz
*.aux
.*.swp
*.v#
*.sty
*.dtx
*.drv
*.ins
*.xml
*.cfg
atveryend*.tex
kvoptions*.tex
ltxcmds*.tex
pageslts*.tex
rerunfilecheck*.tex
undolabl*.tex
